.container{
    background-image: url('file:///C:/Users/Birmiii/Desktop/course/ComputerCourse/src/imgs/main-screen__bgc.png');
    height: 960px;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 1920px;
    align-items: center;
    padding: 40px 80px 0px 40px;
}

ul {
    display: flex;
    justify-content: space-between;

    li{
        list-style-type: none;
        margin-right: 56px;

        :last-child {
            margin-right: 0px;
        }
    }
}

.logo{

}

.btn{

}

