/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
il[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  color: white;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



.app{
  background-image:url('file:///C:/Users/Birmiii/Desktop/course/ComputerCourse/src/imgs/bgc.png');
  font-family: 'Roboto', sans-serif;
  
}

.content{
  max-width: 1920px;
  margin: 0 auto;
  
}

.main{
  background-image: url('file:///C:/Users/Birmiii/Desktop/course/ComputerCourse/src/imgs/main-screen__bgc.png');

}

.header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 31px 63px 0px 80px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

ul {
  display: flex;
  justify-content: space-between;
  margin-left:200px;


  li{
      list-style-type: none;
      margin-right: 56px;

      &:last-child {
          margin-right: 0px;
      }
  }
}

&_btn{
  padding: 10px 30px 10px 30px;
  background: linear-gradient(to right,#C89AFC,#7C6AFA);
  border-radius: 50px;
  border: none;
  color: white;
}
}
.main_info{

  margin-left: 16.4%;
  font-family: 'Roboto', sans-serif;

  &_text{
    font-style: 700;
    font-size: 64px;
    line-height: 90px;
    max-width: 990px;
    margin: 185px 0px 50px 0px;
    
  }

  &_counter{
    display: flex;
    justify-content: start;

    li{
      background-color: #121212;
      height: 112px;
      align-items: center;
      padding: 18px 30px 42px 33px;
      margin-right: 30px;
      margin-bottom: 218px;
    }
    }
    .counter_number{
      font-weight: 700;
      font-size: 36px;
      line-height: 50px;
    }
    .counter_text{
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      opacity: 40%;
      padding-bottom: 10px;
    }
  
  }

  

  .footer{
    background-color: #121212;
    display: flex;
    justify-content:flex-start;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 16%;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    align-items: center ;



    &_btn{
      padding: 10px 30px 10px 30px;
      background: linear-gradient(to right,#DF5950,#451046);
      border-radius: 50px;
      border: none;
      color: white;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin: 43px 87px 43px 0px;
      min-width: 180px;
  }

  &_info{
    
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
    font-size: 16px;
    line-height: 24px;
  }
  .text{
    font-weight: 400;
   
    opacity: 40%;
  }
  .number{
    font-weight: 700;
  }
  .stats{
    display: flex;
    justify-content:space-between;
    width: 251px;
    margin-top: 10px;
    
    
    &:first-child{
      margin-top: 0px;
    }
  }

  .money{
    display: flex;
    justify-content:space-between;
    width: 283px;

  }
}

.under_loading{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.footer_img{
  margin-top: 8px;
}


.information{
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 197px;
}
.about{
  display: flex;
  justify-content: space-between;

  &_text{
    max-width: 636px;
    font-size: 16px;
    font-weight: regular;
    line-height: 26px;
    padding-left: 22px;
  
    
  }
  h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
    margin: 70px 0 45px 16px;
  }
  img{
    margin-bottom: 219px;
  }
}

.start{
  &_title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 49px;
  }

  &_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 50%;
    max-width: 411px;
    margin-bottom: 80px;
  }
  h2{
    font-size: 48px;
    font-weight: 700;
  }
  &_info{
    
    align-items: center;
  }

  &_item{
    max-width: 324px;
  }
  img{
    margin-right: 40px;
    margin-left: 11px;
  }
  .percent{
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    
    div{
      margin-right: 235px;
      
    }
  }
  .imgs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
    
    img{
      max-width: 324px;
      padding: 0;
      margin: 0;
    }
  }
  .items{
    display: flex;
    justify-content: flex-start;
  }
  .item_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    opacity: 50%;
    max-width: 306px;
    margin-right: 20px;
    margin-bottom: 200px;
  }
}
.advantages{
  h2{
    display: flex;
    justify-content: center;
    margin: 5px 0px 127px 65px;
    font-weight: 700;
    font-size: 48px;

  }
  .adv_info{
    display: flex;
    justify-content: space-between;

  }
  .adv{
    margin: auto;
    
    
   
    img{
      margin: auto;
    }
    h4{
      text-align: center;
      font-weight: 500;
      font-size: 24;
      line-height: 34px;
      white-space: pre-line;
  
    }
  
    
    
    
  p{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    opacity: 80%;
    
  }
    
    max-width: 360px;
    
    h4{
      margin: 66px 0px 20px 0px;
    }
    
    
  }
}

.sponsors{
  
  h4{
    
    margin-top: 231px;
    font-style: Bold;
  font-size: 48px;
  line-height: 67px;
  margin-bottom: 95px;
  
    &:before{
    content: url('file:///C:/Users/Birmiii/Desktop/course/ComputerCourse/src/imgs/zxc.png');
    margin-right:50px;
   
  }
  }
  .logo{
    margin-left: 54px;
    display: flex;
    justify-content: space-between;
    
  }
  .item_logo{
    padding-right: 35px;
    padding-bottom: 59px;
  }
  

}
.programm{
  
  img{
    margin: auto;
    margin-top: 244px;
  }
  h2{
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 76px;
    margin-bottom: 30px;

  }
  h5{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    opacity: 50%;
    line-height: 26px;
  }
  h6{
    font-size: 14px;
    opacity: 50%;
    font-weight: 400;
  }
  p{
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    max-width: 230px;
    padding-bottom: 75px;
  }
  .list{
    display: flex;
    justify-content: center;
    &_item{
      display: block;
      justify-content: flex-end;
    }

  }
  .list1{

  }
  .list2{
    margin-bottom: 87px;
    margin-top: 105px;
    &:last-child{
      margin-bottom: 0;
    }

  }
  .timeline{
    margin: 80px 50px 230px 50px;
  }
}

.teachers{
  

  h2{
    font-size: 48px;
    font-weight: 700;
    margin-top: 76px;
    margin-bottom: 103px;
    &::before{
      content: url('file:///C:/Users/Birmiii/Desktop/course/ComputerCourse/src/imgs/qwert.png');
      margin-right: 35px;
    }
  }

  .prep{
    display: flex;
    justify-content: space-between;
  text-align: center;
    
    img{
      margin: auto;
    }
   
  
}

.prep_item{
  h6{
    font-weight: 500;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    opacity: 40%;
    margin-bottom: 42px;
  }
  a{
    border-style: solid;
    border-width: 1px;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
  }
}
}
.subscription{
  margin-top: 218px;
  text-align: center;
  h2{
    font-size: 48px;
    font-weight: 700;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    white-space: pre-line;
    margin-top: 36px;
    opacity: 50%;
  }
  .input{
    align-items: center;
    position: relative;
    margin-top: 60px;
  }
  input{
    width: 383px;
    height: 44px;
    opacity: 25%;
    border-radius: 50px;
    padding-left: 30px;
    color: rgb(0, 0, 0); 
  
  }
  button{
    padding: 12px 30px 12px 30px;
    background: linear-gradient(to right,#DF5950,#451046);
    border-radius: 50px;
    border: none;
    color: white;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    margin-left: -50px;
    position:sticky;
  }
}
.social{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 40px;
a{
  background: linear-gradient(to right,#C89AFC,#7C6AFA);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 30px;
  &:last-child{
    margin-right: 0;
  }
}
}
.last{
  margin-bottom: 0;
  padding-bottom: 0;
}